/*@charset 'UTF-8';*/
@import url("https://fonts.googleapis.com/css?family=Hind|Merriweather+Sans|Ubuntu+Condensed");

body
  {
     background: url("../images/fond.jpg");
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
     font-family: 'Hind';
     font-weight: 300;
     color: #fff;
     line-height: 1.65em;
     font-size: 18px;

  }

/*en-tete*/

header
{

  padding:100px 0;
  margin:0 50px;
  text-align: center;
}

header#top2
{
    padding:50px 0;
}
	header h1
	{
   	text-transform: uppercase;
   	font-weight: 700;
   	color: #fff;
   	text-shadow: 0.05em 0.075em 0 rgba(0,0,0,0.1);
   	font-size: 2.5em;
   	letter-spacing: 10px;
   	text-align: center;
	}

	header p
	{
  	text-transform: uppercase;
  	font-weight: 400;
  	color: #fff;
  	text-align: center;
	}



/********************************************************************************
 section                                                                    
********************************************************************************/

a
{
text-decoration: none;
color:e5e5e5;
text-font: 'Ubuntu'
}

a:hover
{
text-decoration: underline;
color: #ffdb00;
text-font: 'Ubuntu'
}

a:active
{
text-decoration: underline;
color:ff5500;
text-font: 'Ubuntu'
}


section
{

  margin:10px 50px;
}

    section article#connection
    {

    margin: 5px 5px;

    }

    section article#menu
    {

    text-align: right;
    margin: 5px 5px;

    }

	section h2
	{
            font-weight: 600;
	  font-variant:small-caps;
	  color: #fff;
	  font-size:1.5em;
	  letter-spacing: 12px;
	  margin:50px 0;
	  text-align: center;
	}

	section article
	{
	   margin:10px 15px;
	}
	
	    section article div.S1
	    {
	        margin-top:60px;
	    }

	    section article img
	    {
		    width:100%;
		    border: solid 6px #ebebeb;
	    }

        section#contacter,
        section#connecter
        {
            margin:0;
        }


div.search input
{
    width:250px;
    float: right;
    margin-bottom: 10px;
}


/********************************************************************************
 footer                                                                
********************************************************************************/
footer
    {
  	    background-color: #000;
  	    width:100%;
	    color: #fff;
  	    padding:50px 10px;

    }

/********************************************************************************
 CV
********************************************************************************/

h31
{
color : #fff
text-transform: uppercase
border-bottom: 3px solid #e5e5e5;
}

.sectionCV
{
margin-bottom: 20px;
text-align: justify;
}

.titreCV
{
font-weight: bold;
font-size: 20px;
}

.CV
{
height : 200px
}

.infoCV
{
float : left
}

.photoCV
{
float : right
}


